

<div class="banner">
	<div class="banner-text">
		<h1> Empleo Abierto </h1>
		<h2> Empleo Abierto es una plataforma </h2>
		<h2> que te permite encontrar trabajo en instituciones de gobierno </h2>
		<h2>de manera facil y rapida </h2>
	</div>
</div>

<div class="container">
	<div class="row" id="filter-search">
	  <div class="col-md-4">
	    <input type="text" class="form-control" id="exampleInput1" placeholder="Tipo de empleo">
	  </div>
	  <div class="col-md-4">
	    <input type="text" class="form-control" id="exampleInput2" placeholder="Institucion">
	  </div>
	  <div class="col-md-3">
	    <input type="text" class="form-control" id="exampleInput3" placeholder="Salario">
	  </div>
	  <div class="col-md-1">
	  	<button type="submit" class="btn btn-default" >Buscar</button>
	  </div>
	</div>
</div>

<div class="container">
	<table class="table table-bordered table-striped">
		<tr>
			<th width: auto>Puesto</th>
			<th width: auto>Institucion</th>
			<th width: auto>Salario</th>
			<th width: auto>Telefono</th>
		</tr>
		<tr>
			<td>Secretario General</td>
			<td>Instituto Federal Electoral</td>
			<td>15,000 pesos</td> 
			<td>12345678 ext. 123</td>
		</tr>
		<tr>
			<td>Secretario General</td>
			<td>Instituto Federal Electoral</td>
			<td>15,000 pesos</td> 
			<td>12345678 ext. 123</td>
		</tr>
		<tr>
			<td>Secretario General</td>
			<td>Instituto Federal Electoral</td>
			<td>15,000 pesos</td> 
			<td>12345678 ext. 123</td>
		</tr>
		<tr>
			<td>Secretario General</td>
			<td>Instituto Federal Electoral</td>
			<td>15,000 pesos</td> 
			<td>12345678 ext. 123</td>
		</tr>
		<tr>
			<td>Secretario General</td>
			<td>Instituto Federal Electoral</td>
			<td>15,000 pesos</td> 
			<td>12345678 ext. 123</td>
		</tr>
		<tr>
			<td>Secretario General</td>
			<td>Instituto Federal Electoral</td>
			<td>15,000 pesos</td> 
			<td>12345678 ext. 123</td>
		</tr>
		<tr>
			<td>Secretario General</td>
			<td>Instituto Federal Electoral</td>
			<td>15,000 pesos</td> 
			<td>12345678 ext. 123</td>
		</tr>
		<tr>
			<td>Secretario General</td>
			<td>Instituto Federal Electoral</td>
			<td>15,000 pesos</td> 
			<td>12345678 ext. 123</td>
		</tr>
		<tr>
			<td>Secretario General</td>
			<td>Instituto Federal Electoral</td>
			<td>15,000 pesos</td> 
			<td>12345678 ext. 123</td>
		</tr>
		<tr>
			<td>Secretario General</td>
			<td>Instituto Federal Electoral</td>
			<td>15,000 pesos</td> 
			<td>12345678 ext. 123</td>
		</tr>
	</table>
</div>



<div class="text-center">
       <%= link_to "1", results_index_path %> | 
	   <%= link_to "2", results_index_path %> | 
	   <%= link_to "3", results_index_path %> ...
	   <%= link_to "SIguiente", results_index_path %>
</div>

