<!DOCTYPE html>
<html>
<head>
  <title>EmpleoAbierto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="banner">
	<div class="banner-text">
		<h1> Empleo Abierto </h1>
		<h2> Empleo Abierto es una plataforma </h2>
		<h2> que te permite encontrar trabajo en instituciones de gobierno </h2>
		<h2>de manera fácil y rápida </h2>
	</div>
</div>

<%= yield %>

</body>
</html>
